<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="Author" content="${siteconfig.SiteName}" />
<!--css-->
<link rel="stylesheet" type="text/css" href="${path.BasePath}Style/global_min.css" />
<link rel="stylesheet" type="text/css" href="${path.BasePath}Style/theme.css" />
<link rel="stylesheet" type="text/css" href="${path.BasePath}Script/jquery.loadding/loading.css" />
<link rel="stylesheet" type="text/css" href="${path.BasePath}Script/jquery.treeview/jquery.treeview_min.css" />
<link rel="stylesheet" type="text/css" href="${path.BasePath}Script/jquery.pagination/pagination.css" />
<!--js-->
<script type="text/javascript" src="${path.BasePath}Script/jquery-1.9.1_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/hc.common_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/jquery.jsrender/jsrender_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/jquery.pagination/jquery.pagination_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/jquery.loadding/loading_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/hc.ajax_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/hc.ajaxpage_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/lhgdialog/lhgdialog.min.js?skin=idialog"></script>
<script type="text/javascript" src="${path.BasePath}Script/hc_hit_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/hc.GoTop_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/jquery.treeview/jquery.treeview_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/hc.theme_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/Modules/hc_categoryTree_min.js"></script>
<script type="text/javascript" src="${path.BasePath}Script/hc.search_min.js"></script>
