<div class='pager' style="text-align: center">
    <!--<span class='p_cur'>目前在第<b>${current}</b>页, </span><span class='p_count'>共有<b>${totalPage}</b>页,
    </span>--><span class='p_page'><a href='${firstPage}' class='a_first'>第一页</a> <a href='${prevPage}'
        class='a_prev'>上一页</a> <em class='num'>${pageItems} </em><a href='${nextPage}' class='a_next'>
            下一页</a> <a href='${lastPage}' class='a_end'>最后一页</a> </span><span class='p_total'>共<b>${totalCount}</b>条记录</span>
</div>
<style type="text/css">
.pager{font-family: "宋体"}
.pager .p_cur{}
.pager .p_count{}
.pager .p_total{}
.pager .a_cur{line-height: 25px;border: 1px solid #ddd;background: #08c;color: #fff;border: 1px solid #08c;;font-style: normal;padding: 5px 10px;}
.pager .a_num{line-height: 25px;border: 1px solid #ddd;background: #08c;color: #fff;border: 1px solid #08c;;font-style: normal;padding:5px 10px;}
.pager .a_first{line-height: 25px;border: 1px solid #ddd;margin-right: 5px;margin-bottom: 5px;color: lightgray;border-color: lightgray;background: #fff;padding:5px 10px;}
.pager .a_prev{line-height: 25px;border: 1px solid #ddd;margin-right: 5px;margin-bottom: 5px;color: lightgray;border-color: lightgray;background: #fff;padding:5px 10px;}
.pager .a_next{line-height: 25px;border: 1px solid #ddd;margin-right: 5px;margin-bottom: 5px;color: lightgray;border-color: lightgray;background: #fff;padding: 5px 10px;}
.pager .a_end{line-height: 25px;border: 1px solid #ddd;margin-right: 5px;margin-bottom: 5px;color: lightgray;border-color: lightgray;background: #fff;padding: 5px 10px;}
.pager .p_jump .p_gopage{width:30px;}
</style>
