<?xml version="1.0"?>
<connectionStrings>
    <!--Hellocode.Net-->
    <!--<add name="sqlserver" connectionString="Data Source=hds-080.hichina.com;Initial Catalog=hds0800392_db;User ID=hds0800392;Password=1q2w3e4r; Persist Security Info=True;" providerName="System.Data.SqlClient" />-->

    <!--cnSites.Net-->
    <!--<add name="sqlserver" connectionString="Data Source=hds-116.hichina.com;Initial Catalog=hds1160374_db;User ID=hds1160374;Password=1q2w3e4r; Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
 
    <add name="sqlserver" connectionString="Data Source=.;Initial Catalog=HC.CMS_v1.0;User ID=sa;Password=123; Persist Security Info=True;" providerName="System.Data.SqlClient" />
</connectionStrings>
