<!--?xml version="1.0"?-->
<root>
  <page path="" template="~/cn/template/index.html"></page>
  <!--none-->
  <page path="default" template="~/cn/template/index.html"></page>
  <page path="default.jsp" template="~/cn/template/index.html"></page>
  <page path="index" template="~/cn/template/index.html"></page>
  <page path="comment" template="~/cn/template/comment.html"></page>
  <page path="item" template="~/cn/template/item.html"></page>
  <page path="about" template="~/cn/template/about.html"></page>
  <page path="visitStatistics" template="~/cn/template/visitStatistics.html"></page>
  <page path="search" template="~/cn/template/search.html"></page>
  <page path="recommend" template="~/cn/template/recommend.html"></page>
  <page path="books" template="~/cn/template/books.html"></page>
  <page path="bookItem" template="~/cn/template/bookItem.html"></page> 

  <!--html-->
  <page path="default.html" template="~/cn/template/index.html"></page>
  <page path="index.html" template="~/cn/template/index.html"></page>
  <page path="comment.html" template="~/cn/template/comment.html"></page>
  <page path="item.html" template="~/cn/template/item.html"></page>
  <page path="about.html" template="~/cn/template/about.html"></page>
  <page path="visitStatistics.html" template="~/cn/template/visitStatistics.html"></page>
  <page path="search.html" template="~/cn/template/search.html"></page>
  <page path="recommend.html" template="~/cn/template/recommend.html"></page>
  <page path="books.html" template="~/cn/template/books.html"></page>
  <page path="bookItem.html" template="~/cn/template/bookItem.html"></page>

  <!--aspx-->
  <page path="default.aspx" template="~/cn/template/index.html"></page>
  <page path="index.aspx" template="~/cn/template/index.html"></page>
  <page path="comment.aspx" template="~/cn/template/comment.html"></page>
  <page path="item.aspx" template="~/cn/template/item.html"></page>
  <page path="about.aspx" template="~/cn/template/about.html"></page>
  <page path="visitStatistics.aspx" template="~/cn/template/visitStatistics.html"></page>
  <page path="search.aspx" template="~/cn/template/search.html"></page>
  <page path="recommend.aspx" template="~/cn/template/recommend.html"></page>
  <page path="books.aspx" template="~/cn/template/books.html"></page>
  <page path="bookItem.aspx" template="~/cn/template/bookItem.html"></page>
</root>