<?xml version="1.0"?>
<httpModules>
    <!--ASP.NET AJAX-->
    <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <!--Url重写-->
    <add name="UrlRewriteModule" type="HC.Foundation.HttpModules.UrlRewrite.UrlRewriteModule" />
    <!--360安全检查-->
    <add name="Safe360" type="HC.Foundation.HttpModules.Safe360" />
    <!--用户授权检查-->
    <add name="AdminAuthModule" type="HC.Foundation.HttpModules.AuthModule.AdminAuthModule, HC.Foundation, Version=1.0.0.0, Culture=neutral" />
    <!--Http文件流压缩-->
    <add name="HttpCompressModule" type="HC.Foundation.HttpModules.HttpCompress.HttpCompressModule" /> 
    <!--模板引擎-->
    <add type="HC.Foundation.HttpModules.TemplateModule.TemplateModule, HC.Foundation, Version=1.0.0.0, Culture=neutral" name="HttpModule"/>

</httpModules>