<?xml version="1.0" encoding="utf-8"?>
<SiteInfo>
  <SiteName>清山内容管理系统</SiteName>
  <TicketTime>0</TicketTime>
  <Copyright>粤ICP备14030001号</Copyright>
  <AdminIsLogoutUser>false</AdminIsLogoutUser>
  <MainDomain />
  <Logo>/UploadFiles/image/20140817/20140817160123_5637.png</Logo>
  <Icon>/UploadFiles/image/20140827/20140827130505_9062.ico</Icon>
</SiteInfo>